span {
  background-color: violet;
  border: 1px solid black;
  width: 500px;
  padding: 50px;
  margin: 50px;
}

h1 {
  background-color: turquoise;
  border: 1px solid black;
  width: 500px;
  padding: 50px;
  margin: 50px;
}

div {
  width: 200px;
  height: 200px;
  background-color: olivedrab;
  border: 5px solid black;
  display: inline-block;
  margin: 50px;
}